[Unit]
Description=Dropbox
After=network.target

[Service]
Environment="PATH=/usr/local/bin:/usr/bin"
ExecStart=/usr/bin/unison dropbox
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
