[include]
  path = .gitconfig.user

[github]
  user = cloudhead

[sendemail]
  annotate = yes
  smtpserver = smtp.gmail.com
  smtpencryption = tls
  smtpserverport = 587
  smtpuser = alexis@cloudhead.io

[color]
  branch = auto
  diff = auto
  status = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow
  frag = magenta
  old = brightred
  oldMoved = red
  oldMovedAlternative = red
  newMoved = green
  newMovedAlternative = green
  new = brightgreen

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[core]
  excludesfile = /home/cloudhead/.gitignore
  editor = /usr/bin/nvim
  pager = less -F -X

[push]
  autoSetupRemote = true

[alias]
  b = branch -v
  c = commit -v
  s = status -sb
  r = rebase
  re = rebase
  st = status
  co = checkout
  d = diff --word-diff=color
  l = log --stat
  ll = log -p
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  delete-merged = branch --merged | xargs git branch -d
  open-patch = push rad HEAD:refs/patches
  changes = log -c --reverse
  sl = stash list --format='%gd (%cr): %gs'
  lg = "!f() { \
      git log --all --color --graph --pretty=format:'%C(bold yellow)<sig>%G?</sig>%C(reset) %C(red)%h%C(reset) -%C(yellow)%d%C(reset) %s %C(green)(%cr) %C(blue)<%an>%C(reset)' | \
      sed \
      -e 's#<sig>G</sig>#Good#' \
      -e 's#<sig>B</sig>#\\nBAD \\nBAD \\nBAD \\nBAD \\nBAD#' \
      -e 's#<sig>U</sig>#Unknown#' \
      -e 's#<sig>X</sig>#Expired#' \
      -e 's#<sig>Y</sig>#Expired Key#' \
      -e 's#<sig>R</sig>#Revoked#' \
      -e 's#<sig>E</sig>#Missing Key#' \
      -e 's#<sig>N</sig>#None#' | \
      less -r; \
  }; f"

[gpg]
  format = ssh

[gpg.ssh]
  program = ssh-keygen
  allowedSignersFile = .gitsigners

[commit]
  gpgsign = true

[pull]
  ff = only
  rebase = true

[init]
  defaultBranch = master

[rerere]
  enabled = 1

[diff]
  colorMoved = dimmed-zebra
  colorMovedWs = allow-indentation-change

[fetch]
  prune = true
