[user]
  email = self@cloudhead.io
  name = Alexis Sellier
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIL460KIEccS4881p7PPpiiQBsxF+H5tgC6De6crw9rbU

[github]
  user = cloudhead

[sendemail]
  annotate = yes
  smtpserver = smtp.gmail.com
  smtpencryption = tls
  smtpserverport = 587
  smtpuser = alexis@cloudhead.io

[color]
  branch = auto
  diff = auto
  status = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow
  frag = magenta
  old = red
  new = green

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[core]
  excludesfile = /home/cloudhead/.gitignore
  editor = /usr/bin/nvim

[alias]
  b = branch -v
  c = commit -v
  s = status -sb
  st = status
  co = checkout
  d = diff --word-diff=color
  l = log --stat
  ll = log -p
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  changes = log -c --reverse

[gpg]
  format = ssh

[gpg.ssh]
  program = ssh-keygen
  allowedSignersFile = .gitsigners

[commit]
  gpgsign = true

[pull]
  ff = only
  rebase = true

[init]
  defaultBranch = master

[rerere]
  enabled = 1

[diff]
  colorMoved = zebra

[fetch]
  prune = true

[rad]
  seed = https://seed.cloudhead.io/
