[user]
  email = alexis@cloudhead.io
  name = Alexis Sellier
  editor = vim

[github]
  user = cloudhead

[color]
  branch = auto
  diff = auto
  status = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow
  frag = magenta
  old = red
  new = green

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[core]
  excludesfile = ~/.gitignore
  pager = less -x1,5

[alias]
  c = commit -v
  s = status -sb
  st = status
  co = checkout
  lg = log -p
  log = log --stat
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
