.cache
.cargo
.config
.rustup
.gnupg
.mozilla
.local/bin
.steam
.steampid
.steampath
.stack
.pulse-cookie
.pki
.gnome
.ghc
.xmonad
.ssh
.zcompdump
.*_history
.wget-hsts
.lesshst
.Xauthority
crypto
downloads
docs
share
src
notes
priv
pkg
txt
papers
