!
! .Xresources
!

Xft.dpi: 160

! VGA
*color0:  #000000
*color1:  #AA0000
*color2:  #00AA00
*color3:  yellow
*color4:  #0000AA
*color5:  #AA00AA
*color6:  #00AAAA
*color7:  #AAAAAA
*color8:  #666666
*color9:  #FF5555
*color10: #55FF55
*color11: #FFFF55
*color12: #5555FF
*color13: #FF55FF
*color14: #55FFFF
*color15: #FFFFFF
