!
! .Xresources
!
Xft.dpi:        144
Xft.antialias:  true
Xft.rgba:       rgb
Xcursor.size:   16

*background: black
*foreground: white

*color0:  black
*color1:  maroon
*color2:  medium aquamarine
*color3:  moccasin
*color4:  dark slate blue
*color5:  rebecca purple
*color6:  light blue
*color7:  gray
*color8:  dark gray
*color9:  maroon
*color10: aquamarine
*color11: moccasin
*color12: dark slate blue
*color13: rebecca purple
*color14: light blue
*color15: white
