!
! .Xresources
!
URxvt.scrollBar:           false
URxvt.saveLines:           4096
URxvt.internalBorder:      4
URxvt.externalBorder:      0
URxvt.highlightSelection:  true
URxvt.letterSpace:         -1
URxvt.loginShell:          true

! Font
URxvt.font: xft:DejaVu Sans Mono:pixelsize=12:dpi=96

!
! Color
!
URxvt.cursorColor: darkred
URxvt.borderColor: black
URxvt.scrollColor: black
URxvt.background:  black
URxvt.foreground:  white

URxvt.keysym.C-0: command:\033]710;xft: DejaVu Sans Mono:pixelsize=10:dpi=96\007
URxvt.keysym.C-1: command:\033]710;xft: DejaVu Sans Mono:pixelsize=12:dpi=96\007
URxvt.keysym.C-2: command:\033]710;xft: DejaVu Sans Mono:pixelsize=14:dpi=96\007
URxvt.keysym.C-3: command:\033]710;xft: DejaVu Sans Mono:pixelsize=16:dpi=96\007
URxvt.keysym.C-4: command:\033]710;xft: DejaVu Sans Mono:pixelsize=18:dpi=96\007
URxvt.keysym.C-5: command:\033]710;xft: DejaVu Sans Mono:pixelsize=24:dpi=96\007
URxvt.keysym.C-9: command:\033]710;xft: DejaVu Sans Mono:pixelsize=36:dpi=96\007

! black
URxvt*color0:      #000000

! red
URxvt*color1:      #9e1828

! green
URxvt*color2:      #86ce47

! yellow
URxvt*color3:      #ffec4e

! blue
URxvt*color4:      #515181

! magenta
URxvt*color5:      #b65c79

! cyan
URxvt*color6:      #519189

! white
URxvt*color7:      #bebebe

URxvt*color8:      #999999
URxvt*color9:      #cf3e3e
URxvt*color10:     #adf343
URxvt*color11:     #fff796
URxvt*color12:     #72d0e1
URxvt*color13:     #e078b5
URxvt*color14:     #71bebe
URxvt*color15:     #ffffff

