@import url("file:///etc/xdg/waybar/style.css");

* {
    font-family: "BlexMono Nerd Font Mono", "BlexMono Nerd Font", monospace;
    font-size: 16px;
}

window#waybar {
    background-color: #000000;
    border-bottom: none;
    color: #dddddd;
}

#clock {
    background-color: transparent;
    color: #dddddd;
}

#network {
    background-color: transparent;
    color: #dddddd;
}

#cpu {
    background-color: transparent;
    color: #dddddd;
}

#memory {
    background-color: transparent;
    color: #dddddd;
}

#disk {
    background-color: transparent;
    color: #dddddd;
}

#pulseaudio {
    background-color: transparent;
    color: #dddddd;
}

#battery {
    background-color: transparent;
    color: #dddddd;
}

#custom-clipboard {
    background-color: transparent;
    color: #dddddd;
    padding: 0 8px;
}

#custom-screenshot {
    background-color: transparent;
    color: #dddddd;
    padding: 0 8px;
}

#custom-clipboard:hover,
#custom-screenshot:hover {
    background-color: #404040;
    color: #ffffff;
}

#tray {
    background-color: transparent;
}

#workspaces button {
    background-color: transparent;
    background-image: none;
    border: none;
    box-shadow: none;
    color: #777777;
    text-shadow: none;
    -gtk-icon-shadow: none;
    transition: none;
    animation: none;
}

#workspaces button:hover {
    background: #181818;
    background-image: none;
    border: none;
    box-shadow: none;
    color: #777777;
    text-shadow: none;
    -gtk-icon-shadow: none;
    transition: none;
    animation: none;
}

#workspaces button.visible {
    color: #777777;
}

#workspaces button.focused,
#workspaces button.active {
    background-color: #1a1a1a;
    color: #999999;
    box-shadow: none;
    text-shadow: none;
    -gtk-icon-shadow: none;
}

#workspaces button.urgent {
    background-color: #b03060;
    color: #ffffff;
}

#taskbar button {
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: #dddddd;
    padding: 0;
}

#taskbar button:not(.active) {
    font-size: 0;
    min-width: 0;
    margin: 0;
    opacity: 0;
}

#taskbar button.active {
    padding-left: 8px;
    padding-right: 8px;
}
